.portfolio {
  padding: 141px 0;
}

.portfolio__title {
  width: 265px; 
  margin: 0 auto;
}

.portfolio__text {
  display: flex;
  max-width: 770px;
  text-align: center;
  margin: 30px auto 100px;
}

.portfolio-choose {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
  height: 900px;
}

.portfolio-choose__title {
  margin-bottom: 22px;
  max-width: 170px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}

.portfolio-choose > input {
  display: none;
  position: absolute;
}

.portfolio-choose__tab {
  margin-bottom: 15px;
  margin-left: 20px;
  padding: 2px 20px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}

.portfolio-choose__tab:hover {
  margin-left: 2px;
  background-color: #7beec7;
  color: white;
}

.portfolio-choose > input:checked + label {
  margin-left: 2px;
  background-color: #7beec7;
  color: white;
}

.portfolio-choose__photos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: auto;
  position: relative;
  height: 900px;
  width: 845px;
}

.portfolio-choose__section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .4s ease-in-out;
}

.portfolio-choose__link {
  display: flex;
  width: 260px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.portfolio-choose__link:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.portfolio-choose__link:nth-child(3n) {
  margin-bottom: 0;
}

.portfolio-choose__link:nth-child(-n+6) {
  margin-right: 30px;
}

.portfolio-choose__img {
  width: 100%;
  height: 100%;
}

#tab-1:checked ~ .portfolio-choose__photos #content-tab-1,
#tab-2:checked ~ .portfolio-choose__photos #content-tab-2,
#tab-3:checked ~ .portfolio-choose__photos #content-tab-3,
#tab-4:checked ~ .portfolio-choose__photos #content-tab-4,
#tab-5:checked ~ .portfolio-choose__photos #content-tab-5,
#tab-6:checked ~ .portfolio-choose__photos #content-tab-6 {
  opacity: 1;
  z-index: 1;
}

@media(max-width: 1240px) {
  .portfolio-choose {
    height: 760px;
  }
  .portfolio-choose__photos {
    height: 760px;
    width: 710px;
  }
  .portfolio-choose__link {
    width: 215px;
  }
  .portfolio-choose {
    flex-direction: row;
    justify-content: center;
    position: relative;
    padding-top: 20px;
  }
  .portfolio-choose__title {
    margin-bottom: 0;
    position: absolute;
    top: -25px;
    max-width: 100%;
  }
  .portfolio-choose > input:checked + label {
    margin-left: 0;
  }
  .portfolio-choose__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0 auto;
    font-size: 12px;
    height: 30px;
    padding: 0;
    max-width: 145px;
  }
  .portfolio-choose__tab:first-child {
    width: 55px;
  }
  .portfolio-choose__photos {
    height: 760px;
    width: 700px;
    margin-left: 0;
    margin-top: 20px;
  }
}

@media(max-width: 745px) {
  .portfolio {
    padding: 100px 0 0;
    height: 1580px;
  }
  .portfolio-choose {
    padding-top: 50px;
  }
  .portfolio-choose__tab {
    margin: 3px;
  }
  .portfolio-choose > input:checked + label {
    margin-left: 3px;
}
  .portfolio-choose__photos {
    height: 1195px;
    max-width: 100%;
  }
  .portfolio-choose__link {
    width: 44%;
    max-width: 190px;
    margin: 0 auto 30px;
  }
  .portfolio-choose__link:nth-child(-n+6) {
    margin: 0 auto 30px;
  }
  .portfolio-choose__link:nth-child(3n) {
    margin: 0 auto 30px;
  }
}