@import 'homepage.css';
@import 'about.css';
@import 'fonts.css';
@import 'contact.css';
@import 'services.css';
@import 'blog.css';
@import 'portfolio.css';

*, ::before, ::after {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #60606e;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 198px;
}

.header_home {
  margin-bottom: 194px;
}

.header__logo {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.header__logo a {
  color: #60606d;
  text-decoration: none;
}

.header__menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1;
}

.header__menu_open .header__row:nth-child(-n+3) {
  width: 33px;
}

.header__row {
  height: 2px;
  background-color: #60606d;
  transition: all .3s ease-in-out;
}

.header__row:nth-child(1) {
  width: 33px;
  margin-bottom: 7px;
}
.header__row:nth-child(2) {
  width: 17px;
  margin-bottom: 7px;
}
.header__row:nth-child(3) {
  width: 25px;
}

.nav {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.nav__list {
  list-style-type: none;
  margin-right: 20px;
}

.nav__list:last-child {
  margin-right: 0;
}

.nav__item {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #60606e;
  padding-top: 15px;
}

.nav__item:hover::after {
  opacity: 1;
  top: 0px;
}

.introduction {
padding: 40px 80px 0;
background: url('../image/img/introduction-bg.jpg') no-repeat 0 0;
background-size: cover;
height: 500px;
width: 100%;
}

.introduction_home {
  background: url('../image/img/home-background.jpg') no-repeat 0 0;
  background-size: cover;
  height: 800px;
}

.introduction__title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
}

.introduction__title_home {
  position: relative;
  padding: 11px 36px;
  border: 10px solid #60606e;
  width: 570px;
  font-size: 48px;
  margin: 0 auto;
}

.introduction__title_home::after {
  content: "WE'RE";
  position: absolute;
  top: -40px;
  left: 240px;
  font-size: 18px;
  font-weight: bold;
  padding: 4px 12px 4px;
  width: 80px;
  letter-spacing: -0.6px;
  background-color: #a5edc7;
}

.introduction__nav {
  display: flex;
  justify-content: center;
  width: 110px;
  margin: 18px auto 0;
}

.introduction__third-title {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: bold;
  cursor: pointer;
}

.introduction__third-title_ligh, .introduction__splitter {
  font-weight: 400;
  margin-left: 3px;
}

.introduction__text {
  text-align: center;
  width: 44%;
  margin: 25px auto 124px;
  letter-spacing: 0.7px;
  line-height: 23px;
}

.introduction__history {
  display: flex;
  justify-content: space-between;
}

.introduction__img {
  min-width: 460px;
  height: 400px;
}

.introduction__description {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  margin-left: 128px;
}

.introduction__second-title {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 0;
  margin-bottom: 13px;
}

.introduction__second-title::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 21px;
  top: 18px;
  left: 0;
  background-color: #a5edc7;
  z-index: -1;
  transition: all .5s ease-in-out;
}

.introduction__second-title:hover::after {
  left: 47%;
}

.introduction_text {
  display: flex;
  max-width: 97%;
  line-height: 30px;
  letter-spacing: 0.4px;
  margin-bottom: 5px;
}

.introduction__btn {
  background-color: #a5edc7;
  color: #fff;
  margin-left: auto;
}

.main {
  max-width: 1144px;
  margin: 0 auto;
}

.content {
  padding: 150px 0;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
}

.aside {
  display: flex;
  flex-direction: column;
  width: 23.2%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 50px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: all .2s ease-in-out;
  z-index: 1;
}

.btn:hover, .btn:active {
  background-color: #89c4a4;
}

.second-title {
  position: relative;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  z-index: 0;
  margin: 0 auto 17px;
}

.second-title::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 21px;
  top: 18px;
  left: 0;
  background-color: #a5edc7;
  z-index: -1;
  transition: all .5s ease-in-out;
}

.second-title:hover::after {
  left: 75%;
}

.third-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

.caption {
  display: flex;
  width: 65%;
  margin: 0 auto 95px;
  text-align: center;
  letter-spacing: -0.2px;
  line-height: 23px;
}

.text {
  font-family: 'OpenSuns', sans-serif;
  font-weight: 200;
  font-size: 15px;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  cursor: pointer;
  margin-right: 13px;
}

.icon:hover svg{
  fill: #a5edc7;
}

.icon:last-child {
  margin-right: 0;
}

.icon svg {
  width: 20px;
  height: 19px;
  fill: #969696;
  transition: all .2s ease-in-out;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.footer__nav {
  display: flex;
  list-style-type: none;
  margin-top: -2px;
}

.footer__item {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 40px;
  padding-bottom: 15px;
  letter-spacing: -0.7px;
  font: 100 15px/1 'OpenSans', sans-serif;
  color: #989898;
}

.footer__item::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  transition: all .3s ease-in-out;
  background-color: #a5edc7;
}

.footer__list {
  position: relative;
}

.footer__list::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #989898;
  top: 8px;
  right: 16px;
}

.footer__list:last-child:after {
  display: none;
}

.footer__text {
  font-family: 'OpenSans', sans-serif;
  text-transform: uppercase;
  color: #969696;
  margin-bottom: 25px;
  font-size: 12px;
}

@media(max-width: 1023px) {
  .footer__nav {
    list-style-type: none;
    margin-top: -3px;
  }
  .footer__item {
    font-size: 13px;
    margin-right: 10px;
  }
  .footer__list::after {
    display: none;
  }
  .footer__item::before {
    display: none;
  }
}

@media(max-width: 849px) {
  .aside {
    width: 100%;
  }
  .nav__menu {
    height: 1175px;
  }
  .introduction-wrapper {
    max-width: 90%;
    margin: 0 auto;
  }
  .introduction_home {
    height: 1175px;
  }
  .introduction__title_home {
    width: 290px;
    font-size: 26px;
    padding: 8px 8px;
  }
  .introduction__title_home::after {
    left: 90px;
  }
  .introduction__btn {
    margin: 0 auto;
    z-index: 0;
  }
  .introduction__second-title {
    font-size: 25px;
  }
  .introduction__second-title::after {
    height: 17px;
    top: 16px;
  }
  .introduction__second-title:hover::after {
    left: 76%;
  }
  .introduction__img {
    min-width: 320px;
    width: 320px;
    height: 330px;
  }
}